* {
  box-sizing: border-box;
}

.tile {
  margin: 4rem auto;
  width: 100%;
  max-width: 600px;
  padding: 0 1rem;

  &__img {
    width: 100%;
    height: auto;
    margin: 0 0 2rem 0;
  }

  &__name {
    font-size: 1.2rem;
    text-align: center;
  }
}

.error {
  margin: 4rem auto;
  width: 100%;
  max-width: 300px;
  padding: 0 1rem;
  text-align: center;

  &__name {
    font-size: 1.2rem;
    color: rgb(236, 68, 68);
  }
}